.App {
  text-align: center;
  background-color: #191a2d;
  height: 100vh;
  width: 100vw;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0.53m 1em 0 1em;
}

.image img {
  width: 15em;
  height: 15em;
  background-color: aqua;
  border-radius: 100%;
}

.filler {
  background-color: rebeccapurple;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.sineWave {
  width: 100vw;
  height: 10em;

  display: flex;
  justify-content: center;
}
.controls {
  display: flex;
  margin: 0 2em 0 2em;
  justify-content: center;
  align-items: center;
}

.songName h3 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.songName h4 {
  color: #4b4e7d;
}
